**/node_modules/**

# Buidler
**/cache/**
**/artifacts/**
**/buidler.config.js

**/.build/**
**/.serverless/**
**/coverage/**
**/dist/**

# Ignore the TS wrappers created by Typechain
packages/protocol/src/contracts

# Ignore JSON snippets injected into README
packages/validator/test/fixtures
