**/node_modules/**

# Buidler
**/cache/**
**/artifacts/**

**/.build/**
**/.serverless/**
**/coverage/**
**/dist/**

# Ignore the TS wrappers created by Typechain
packages/airnode-protocol/src/contracts
packages/airnode-protocol-v1/src/contracts

# Ignore JSON snippets injected into README
packages/airnode-validator/test/fixtures
