# package directories
/node_modules

# ENV variables and secrets
.env

# IDE specific files
.vscode
*.swp
*.swo

# Log files
*.log
*.receipt.json

# Test files
coverage/
coverage.json
gas_report
gcp.json
.eslintcache

# Alternative package.json files for publishing
# Will be removed in the future
package.json_

*.tgz

# TypeScript build files
*.tsbuildinfo

# Other
.DS_Store

docker/scripts/dist
